// Variables

$main: #B39977;
$second: #242424;
$third: #7C9FAA;

// Basic Color
$wt: #FFFFFF;
$bl: #000000;
$t: #474D4E;

$gray: #BCBCBC;
$lgray: #F1F1F1;
$lgray2: #F8F8F8;

$ldblue: #262B4D;

$orange: #FFAE00;
$green: #64BC36;
$blue: #22A6B3;
$red: #EB4D4B;
$brown: #B49D3A;

// pallete
$border: #EAEAEA;
$border2: rgba(34, 34, 34, 0.3);

// font
$r: 'Roboto-Regular', sans-serif;
$p: 'Palatino', sans-serif;